<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.joanzapata.pdfview"
      android:versionCode="1"
      android:versionName="1.0.0">
    
	<!-- Min version 8 (2.2) -->
	<uses-sdk android:minSdkVersion="8"  
              android:targetSdkVersion="17"/>
              
</manifest>